body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.name {
    color: orange;
}

h3 {
    font-size: 30px;
}

#fast_para {
    font-size: 20px;
}

.flexible-contenar {
    display: flex;
}

.half_with {
    width: 50%;
    padding-left: 2px;
}

.half_with p {
    margin-left: 30px;

}

.half_with img {
    width: 80%;

}

.half_with a {
    text-decoration: none;

    background-color: orange;
    color: wheat;
    font-weight: 700;

    padding: 10px 40px;
    border-radius: 20px;

}

.top_backgrount {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;


}

.Dream_Big {
    margin-top: 50px;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experiences_area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.Experiences-item {
    border-radius: 10px;
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;

}

#Full-Stack-Web-Developer {
    border-left: 10px solid blue;
}

#Baby-Web-Developer {

    border-left: 10px solid red;
}

footer p {
    text-align: center;
    font-weight: 600;

}